.avatars {
  display: flex;
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid red;
  }
  :not(:first-child) {
    margin-left: -50px;
  }
  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(238, 225, 225);
    font-size: 50px;
    // transform: translate();kéo vật thể đi nhưng vị trí vấn nằm yên
    // margin : kéo vật thể đi và kéo lẫn vị trí của nó đi luôn
    //dùng after và before để tạo tam giác ribbon cho comment
  }
}
